@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}

.remove-item {
  transform: translateY(-50%);
  right: 1rem;
  top: 50%;
  position: absolute;
}

.featured-product-list {
  @apply w-fit;
}

.featured-product-list li {
  @apply relative flex items-center text-sm italic text-my-m-gray lg:text-base;
}

.featured-product-list li::after {
  @apply mr-2 inline-block h-[2px] w-[10px] bg-my-beige;
  content: "";
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
}

.cart {
  backdrop-filter: blur(4px);
}

.show-menu {
  right: 0;
  visibility: visible;
  opacity: 1;
  @apply bottom-0 md:top-0;
  @apply translate-y-[0] md:translate-x-[0] md:translate-y-0;
  transition: 0.5 ease-in-out;
}

.hide-menu {
  @apply -bottom-full md:-right-full md:top-0;
  visibility: hidden;
  opacity: 0;
  @apply translate-y-full md:translate-x-full md:translate-y-0;
  transition: 0.5 ease-in-out;
}

.toggle-input {
  top: -16px;
  /* font-size: 18px; */
}
